[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "==1.11.1"
streamlit = "*"
altair = "==5.0.1"
plotly = "==5.15.0"

[dev-packages]

[requires]
python_version = "3.12"
